.index-tab .am-tabs-default-bar-tab {
  height: 50px;
}

.district .am-grid .am-flexbox {
  background: #f5f5f5;
}

.district .am-grid-item-inner-content .am-grid-icon {
  width: 48%;
  border-radius: 50%;
  overflow: hidden;
}

.district .am-grid.am-grid-square > div:nth-child(n+2) {
  margin-top: -20px;
}
