.party-fee {
  background: #fff;
  margin-top: 5px;
  padding-bottom: 20px;
}

.party-fee .am-list-header {
  padding: 0;
}

.party-fee .fee-header {
  padding: 12px;
  line-height: 24px;
}

.party-fee .fee-header span {
  font-size: 16px;
  color: #333;
  margin-left: 6px;
}

.party-fee .fee-header img {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}

.party-fee .fee-header .tip-icon {
  float: right;
}

.party-fee .select-type-box {
  height: 50px;
  padding: 0 15px;
}

.party-fee .select-type-box span {
  padding: 18px 0;
  color: #333;
}

.party-fee .select-type-box span:first-child {
  margin-right: 20px;
}

.party-fee .select-type-box .btn {
  display: inline-block;
  width: 80px;
  height: 28px;
  padding: 0;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #CDCDCD;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.party-fee .select-type-box .btn:last-child {
  margin-left: 12px;
}

.party-fee .select-type-box .am-button {
  margin-bottom: 0;
}

.party-fee .select-type-box .btn.on {
  background: #FF523A;
  color: #fff;
  border-color: #FF523A;
}

.party-fee .calc-result {
  font-size: 16px;
  text-align: center;
  padding: 0 12px;
}

.party-fee .calc-result .result {
  padding: 0 8px;
  color: #FF523A;
}

.tip-modal {
  padding: 24px 32px;
}

.tip-modal .big-title {
  font-size: 16px;
  color: #333;
}

.tip-modal .title {
  color: #333;
  line-height: 1;
  margin-bottom: 10px;
}

.tip-modal p {
  color: #666;
  margin-bottom: 20px;
  line-height: 16px;
  text-align: left;
}

.tip-modal p:last-child {
  margin-bottom: 0;
}

.basic-form .am-input-label {
  color: #333 !important;
}

.basic-form .am-input-control input {
  color: #999;
  font-size: 14px;
}

.basic-form .party-list {
  padding-left: 15px;
  background: #fff;
}

.basic-form .party-list .am-list-body {
  height: 49px;
  border-bottom: 1px solid #e6e6e6;
}

.basic-form .party-list .am-list-body .am-list-item {
  padding: 0;
}

.basic-form .party-list .am-list-body .am-list-item .am-list-content {
  font-size: 14px;
}

.member-list .party-list .am-list-body {
  height: auto;
}

.member-list .party-list .am-list-line {
  height: 49px;
  margin-right: 15px;
  border-bottom: 1px solid #e6e6e6 !important;
}

.my-branch-page .am-tabs-tab-bar-wrap {
  border-bottom: 1px solid #e6e6e6;
}

.life-service {
  position: relative;
}

.life-service .bg-box {
  width: 100%;
}

.life-service .bg-box img {
  width: 100%;
  float: left;
}

.life-service .card-item {
  text-align: center;
  display: inline-block;
  float: left;
}

.life-service .icon-list {
  height: 88px;
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0;
}

.life-service .icon-list > div {
  margin: 0 12px;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 8px 18px 0px #e6e6e6;
}

.life-service .icon-list .card-item {
  font-size: 14px;
  width: 25%;
  padding: 18px 0;
}

.life-service .icon-list .card-item img {
  width: 32%;
}

.life-service .img-list {
  height: 125px;
  background: #fff;
  padding-top: 180px;
}

.life-service .img-list .card-item {
  width: 33.3%;
  font-size: 16px;
  padding-top: 25px;
}

.life-service .img-list .card-item img {
  width: 36%;
  margin-bottom: 16px;
}

.life-service .img-list .card-item p {
  line-height: 1;
}

.details-page {
  padding: 18px 12px 40px 12px;
  height: 100%;
  overflow: auto;
  background: #fff;
}

.details-page .title {
  font-size: 20px;
  line-height: 20px;
  color: #333;
  text-align: center;
}

.details-page .extra-info {
  margin: 10px 0;
  min-height: 28px;
  position: relative;
}

.details-page .extra-info span {
  color: #999;
  font-size: 12px;
}

.details-page .extra-info span:first-child {
  margin-right: 10px;
}

.details-page .extra-info img {
  position: absolute;
  top: -10px;
  right: 0;
  width: 60px;
  height: 44px;
}

.details-page .content {
  font-size: 14px;
  color: #666;
  line-height: 18px;
}

.details-page .content img {
  width: 90% !important;
  margin: 10px 5% !important;
  height: auto !important;
}

.details-page .am-button {
  background: #FFB339;
  margin: 20px 12px;
  border-radius: 0;
  color: #fff;
}

.details-page .author {
  margin: 10px 0;
  color: #666;
  display: inline-block;
  line-height: 14px;
}

.index-page {
  position: relative;
}

.index-page .whole-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.index-page .whole-box .whole-page-img {
  width: 100%;
  height: 100%;
}

.login .am-list-body .am-list-line:first-child .am-input-label::before, .change-pwd .am-list-body .am-list-line:first-child .am-input-label::before {
  display: none;
}

.login.personal-sugge {
  background: #fff;
  height: 100%;
}

.login.personal-sugge .img-bg {
  width: 100%;
}

.login.personal-sugge .am-list {
  margin-top: 46px;
  padding: 0 12px;
}

.login.personal-sugge .label-icon {
  width: 24px;
  height: 24px;
}

.login.personal-sugge .am-list-item {
  border-bottom: 1px solid #ececec !important;
  height: 50px;
  padding-left: 0;
}

.login.personal-sugge .am-list-item .am-input-label-5 {
  width: 40px;
}

.login.personal-sugge .am-list-item .pwd-extra-icon {
  width: 20px;
  height: 20px;
}

.login.personal-sugge .am-button {
  margin-top: 40px;
  border-radius: 24px;
}

.personal-box .am-list-item {
  border-bottom: 1px solid #ececec !important;
  padding: 0;
  margin-left: 15px;
}

.details-bg-white .wrapper {
  background: #fff;
}

.personal-sugge.personal-find-frind.basic-form.branch-form .intro-box .am-list-content {
  display: flex;
}

.personal-sugge.personal-find-frind.basic-form.branch-form .intro-box .am-list-content > span {
  font-size: 14px;
  min-width: 70px;
  margin-right: 5px;
  display: inline-block;
}

.personal-sugge.personal-find-frind.basic-form.branch-form .intro-box .am-list-line-wrap {
  border-bottom: 1px solid #e6e6e6 !important;
}

.tel-card-list {
  background: #fff;
  margin-top: 8px;
}

.tel-card-list .tel-card {
  padding: 13px 12px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.tel-card-list .tel-card img {
  width: 40px;
  height: 40px;
}

.tel-card-list .tel-card .card-left {
  display: flex;
}

.tel-card-list .tel-card .card-left img {
  margin-right: 12px;
}

.tel-card-list .tel-card .card-left .card-extra {
  padding: 2px 0;
}

.tel-card-list .tel-card .card-left .card-extra p {
  line-height: 1;
}

.tel-card-list .tel-card .card-left .card-extra p:nth-child(1) {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.tel-card-list .tel-card .card-left .card-extra p:last-child {
  font-size: 12px;
  color: #999;
}

.tel-card-list .tel-card .card-right {
  position: absolute;
  top: 13px;
  right: 12px;
}

.tel-card-list .tel-card .card-right > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.district .wrapper {
  background: #fff;
}

.district .deving-box {
  text-align: center;
  padding: 80px 0 0 0;
}

.district .deving-box .img {
  width: 200px;
  height: 200px;
}

.district .deving-box p {
  font-size: 14px;
  color: #888;
}

.wtf {
  height: 100%;
}

.wtf .wrapper {
  height: 100%;
}
