.marginBot30 .card-list > div:last-child {
  margin-bottom: 30px;
}

.leader-calender .card-list {
  background: #fff;
  margin-top: 8px;
}

.leader-calender .card-list > div:last-child {
  border: none;
}

.leader-calender .leader-card {
  margin: 0 12px;
  padding: 13px 0 18px 0;
  border-bottom: 1px solid #E5E5E5;
}

.leader-calender .leader-card .card-left {
  width: 56%;
  display: inline-block;
}

.leader-calender .leader-card .card-title {
  line-height: 25px;
  color: #333;
  font-size: 14px;
  margin: 0;
  max-height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.leader-calender .leader-card .card-img-right {
  width: 32%;
  text-align: right;
  float: right;
  height: 84px;
  overflow: hidden;
}

.leader-calender .leader-card .card-extra {
  margin-top: 18px;
}

.margin5px .card-list {
  margin-top: 5px;
}

.card-tag {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-right: 12px;
  color: #fff;
  background: #FFB339;
  padding: 3px 4px;
  border-radius: 2px;
}

.card-time {
  font-size: 12px;
  color: #999;
}
