.am-picker-col-item,.am-picker-popup-item,.am-textarea-label,.am-textarea-control textarea{
  font-size:14px;
}
.am-picker-col-item-selected{
  font-size:16px;
}

//公共样式
p{
  margin: 0;
}

.am-navbar{
  background-color: #eee;
  border-bottom:none;
  height: 44px;
}
.personal-nav{
  .am-navbar{
    background-color: #FF523A;
    .am-navbar-title{
      color: #fff;
    }
  }
}
.home-page .am-grid.am-grid-square{
  padding: 5px 0;
  background: #fff;
}
.am-grid.am-grid-square{
  >div:nth-child(n+2){
    margin-top: -10px;
  }
}
.am-grid-item-content{
  .am-grid-icon{
  }
  .am-grid-text{
    font-size: 15px!important;
    color: #333!important;
    line-height: 14px;
  }
}
.single-ellipsis{
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.muli-ellipsis{
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-card-list{
  .card-item{
    width: 100%;
    height: 150px;
    margin-bottom: 4px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      float: left;
    }
    .text-box{
      position: absolute;
      width: 100%;
      height: 34px;
      top: calc(50% - 17px);
      left: 0;
      text-align: center;
      padding: 0 20px;
      p{
        color: #fff;
        line-height: 1;
      }
      .title{
        font-size: 16px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 16px;
        white-space: nowrap;
      }
      .time{
        font-size: 10px;
      }
    }
    .card-mask{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: .3;
    }
  }
}

.activity-card-list{
  padding: 0 12px;
  background: #fff;
  .card-item{
    height: 103px;
    padding: 18px 0;
    border-bottom: 1px solid #e6e6e6;
    >div{
      float: left;
    }
    .left-img{
      width: 12.8%;
      height: 100%;
      display: inline-block;
      margin-right: 3.2%;
      img{
        // width: 100%;
        height: 100%;
      }
    }
    .text-right{
      width: 84%;
      .title{
        font-size: 14px;
        color: #333;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .extra-box{
        margin-top: 8px;
      }
    }
   }
}

.swiper-box{
  position: relative;
  .item{
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 164px;
    overflow: hidden;
  }
  .swiper-img{
    width: 100%;
    height: 100%;
  }
  .slider-decorator-0{
  }
  .am-carousel-wrap{
    position: absolute;
    bottom: -12px;
  }
  .text-bottom{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    p{
      position: absolute;
      font-size: 12px;
      color: #fff;
      height: 100%;
      width: 80%;
      padding-left: 12px;
      line-height: 30px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .bg{
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: .2;
    }
  }
  .swiper-bottom{
    height: 12px;
    background: #fff;
  }
}